/*
warning: to use the variabilized classes taking into account the dark and light modes (example: color: var(--md-default-fg-color)).
You need to add a data-md-color-scheme="slate" | "default" metadata to the enclosing elements
*/
/* ----- ----- ----- ----- ----- */
/* additional fonts */
/* ----- ----- ----- ----- ----- */
@font-face {
    font-family: "Fredoka";
    src: url("../assets/fonts/Fredoka-VariableFont_wdth,wght.ttf") format("truetype");
}

:root > * {
    --md-primary-fg-color: rgba(67, 81, 232, 0.2);
}

/* ----- ----- ----- ----- ----- */
/* variables */
/* ----- ----- ----- ----- ----- */
/* breakpoints */
/* xs, extra-small: 0px*/
/* sm, small: 600px */
/* md, medium: 900px */
/* lg, large: 1200px */
/* xl, extra-large: 1536px */
:root {
    /* colors */
    --color-primary: #4351E8;
    --color-secondary: #F92672;

    /* spaces */
    --section-padding-y: 56px;

    /* fonts */
    --font-fredoka-semibold: 600;

    /* text */
    --accessible-line-height: 150%;

    /* border */
    --border-radius-md: 8px
}

/* ----- ----- ----- ----- ----- */
/* initialization */
/* ----- ----- ----- ----- ----- */
em {
    font-style: normal;
}

/* ----- ----- ----- ----- ----- */
/* hacks */
/* ----- ----- ----- ----- ----- */
/* hides the title of the site to have only the logo */
.md-header__title > .md-header__ellipsis > .md-header__topic {
    display: none;
}

/* hides the title of the site of the mobile drawer */
.md-nav--primary > .md-nav__title {
    color: transparent !important;
}

.md-nav--primary > .md-nav__title > .md-logo > img {
    width: 80% !important;
}

/* rounds up the search field and the suggestion panel */
form[name="search"] {
    border-radius: var(--border-radius-md) !important;
}

div[class="md-search__scrollwrap"] {
    margin-top: 4px;
    border-radius: var(--border-radius-md) !important;
}

/* ----- ----- ----- ----- ----- */
/* hero */
.knl-hero {
    padding: var(--section-padding-y) 0;
    background: linear-gradient(180deg, rgba(67, 81, 232, 0.3) -23.35%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid red;
}

.knl-hero__content {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    border: 1px solid blue;
}

.knl-hero__text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.knl-hero__title {
    margin: 0;
    font-family: "Fredoka", sans-serif;
    font-size: clamp(24px, 7vw, 64px);
    font-weight: var(--font-fredoka-semibold);
    text-align: center;
    border: 1px solid orange;
}

.knl-hero__title em {
    color: var(--color-primary);
}

.knl-hero__description {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 3vw, 24px);
    font-weight: normal;
    text-align: center;
    line-height: var(--accessible-line-height);
    border: 1px solid orange;
}

.knl-hero__description em {
    font-weight: bold;
    color: var(--color-primary);
}

.knl-hero__cta {
    display: flex;
    gap: 16px;
    justify-content: center;
    border: 1px solid blue;
}

/* ----- ----- ----- ----- ----- */
/* buttons */
/* ----- ----- ----- ----- ----- */
.button {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 32px;
    font-family: "Poppins", sans-serif;
    font-size: clamp(14px, 3vw, 16px);
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.button_primary__contained {
    color: white;
    background-color: var(--color-primary);
}

.button_primary__contained svg {
    fill: white;
}

.button_secondary__outlined {
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.button_secondary__outlined svg {
    fill: var(--color-secondary);
}


/* ----- ----- ----- ----- ----- */
/* media queries */
/* ----- ----- ----- ----- ----- */
/*@media screen and (max-width: 992px) {*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*}*/

/*@media screen and (max-width: 576px) {*/
/*}*/

@media screen and (max-width: 416px) {
    .knl-hero__cta {
        flex-direction: column;
        align-items: center;
    }
}